@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/IndexStyle.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <p class="cafe_name">@ViewBag.CafeName</p>
    <hr style="border-top: 2px dashed black;"/>
    <div>
        <h1 class="menu_name">Menu</h1>
        <ul>
            <li>@Html.ActionLink("Drinks", "DrinkForm", new object { }, new { @class = "action_links" })</li>
        </ul>
    </div>
    <a href="/Home/Test?name=Александр&surname=Пушкин">Перейти</a>
</body>
</html>
